html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:   'Roboto Slab', sans-serif;
}



#root {
  width: 100%;
}

.app-container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #FFB300;
  width: 100%;
  height: 100px;
  text-align: center;
   padding: 10px;
 
  
  
}
/*CSS PARA EL HEADER */ 
.header-titulo {
  font-size: 32px;
  
}

.slogan {
  text-align: center;
}

/*CSS PARA EL NAVBAR */
.navbar {
  background-color:  #FFB300;
  display: flex; 
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  font-size: 14px;
  padding-left: 20px;
  gap: 5px;
  position : sticky;
  top: 0;
  z-index: 10;
  

}

.nav-right{
  display: flex;
  align-items: center;
  margin-left: auto;
 
}

.total-navbar{
  white-space: nowrap;
  border: 1px solid #000000;
  background-color: rgb(27, 21, 21);
  border-radius: 4px;
  margin-right: 10px;
  color: white;
  font-size: 16px;
  height: 40px;


}


.nav-btn{
  white-space: nowrap;
  min-width: 100px;
  max-width: 160px;
  background-color: #FFB300;
  border-radius: 4px;
  border: 1.5px solid #748032;
  color: rgb(6, 6, 6);
  font-size: 16px;
  height: 40px;
  
}

.nav-btn:hover {
  background-color: #748032;
  color: #ffffff;
  height: 40px;
 
   
}


/*CSS PARA LAS CARDS */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px;
  gap: 2rem;
  
}

.card-container {
  width: 300px;
  border: 1px solid #D32F2F;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
 
}


.card-container img{
  width: 100%;
  max-height: 280px;
  object-fit: cover;
  border-radius: 8px;
}


.list-container{
  list-style: none;
  text-align: left;
}

.ver-mas {
  background-color: white ;
  border: 2px solid #8E9A46;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 10px;
 
}

.ver-mas:hover {
  background-color: #748032;
  color: white;
}

.agg-al-carrito {
  background-color: white ;
  border-radius: 15px;
  gap: 10px;
  border: 2px solid #748032;
  cursor: pointer;
  padding: 8px 15px;


}

.agg-al-carrito:hover {
  background-color: #748032;
  color: white;
}

/* CSS PARA EL REGISTRO Y LOGIN*/

.container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;
  background-image:url('/src/assets/imgs/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container2-register {
background-color: #FEF9F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #FEF9F2 ;
  width: 400px;
  border-radius: 8px;
  padding: 80px;
  z-index: 1;

}


.tittle-register {
  text-align: center;
  margin-bottom: 2px  ;
}

.subtittle-register {
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.formulario {
 display: flex;
 flex-direction: column;
  
}

.form-group {
  margin-bottom: 9px;
}

.label{
  font-size: 18px;
  margin-right: 8px;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn-registro {
  background-color: #8E9A46 ;
  border: 2px solid #8E9A46;
  border-radius: 15px;
  width: 200px ;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 10px;
 
}


.btn-registro:hover {
  background-color: #748032;
  border: #748032 2px solid;
  color: white;
  
}

.container-btn {
display: flex;
justify-content: center;
margin-top: 20px;
}

.form-group input {
  height: 30px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #F5F5F5; 
  color: #494949; 
}

.form-group input:focus {
  outline: none;
  border-color: #8E9A46;
  background-color: transparent;
}

.form-group ::placeholder {
  padding-left: 15px;
}


/*CSS PARA EL CART*/

.cards-container {
  padding: 20px;
}

.cart-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}

.producto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 500px;   
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 10px;
  
}


.producto img {
  width: 65px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;

}

.cantidad-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.btn-pagar{
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: rgb(27, 21, 21);
  border-radius: 4px;
  background-color: none;
  color: white;
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
 
}

.btn-menos,
.btn-mas{
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  

}


.remove-btn{
  font-size: 14px;
  background-color: #ccc;
  border: #ccc;
  border-radius: 10px;
  height: 22px;

}

.remove-btn:hover {
  background-color: #b3b2b2;
}




/*css para NotFoundPage*/

.background-container{
  background-image: url('./assets/imgs/background.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
}

.info-container{
 background-color: #FAFAFA;
 padding: 50px;
 border-radius: 8px;
 width: 600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.info-container img{
 width: 300px;
  height: 200px;
  object-fit: contain;

}

.btn-home{
  background-color: #8E9A46 ;
  border: 2px solid #8E9A46;
  border-radius: 15px;
  width: 200px ;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 20px;
}
 

.btn-home:hover {
  background-color: #748032;
  border: #748032 2px solid;
  color: white;
  
}

.info-container h1{
  display: inline;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.info-container p{
  margin-top: 0;
  font-size: 20px;


}

/*css para el perfil*/

.perfil-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/imgs/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;  

}

.perfil-informacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 80px;
  background-color: #FAFAFA;
  width: 400px;
  border-radius: 8px;
  z-index: 1;

}

.formulario-perfil {
  width: 100%;
  box-sizing: border-box;
}

.formulario-perfil h1{
  text-align: center;
}

.formulario-perfil img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-container {
  display: flex;
  gap: 10px ;
  width: 100%;
}

.form-item input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;

}
.form-item label{
  margin-bottom: 5px;
}

.form-item{
  margin-top: 10px;
  display: flex;
  flex-direction: column ;
  flex: 1;
}



